<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Post</title>
    <link rel = "stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <div class="bod">
      <!--<div>
        <p><%= data.user %></p>
      </div>-->
      <div class="image-container">
        <img src='<%= data.image %>' alt="" id="imgPreview"><br>
      </div>
      <div class="content">
        <div class="post-info">
          <div class="info-text">
            <p><%= data.title %></p>
            <p>Brand: <%= data.brand %></p>
            <p>Category: <%= data.type %></p>
            <p><%= data.gender %></p>
          </div>
        </div>
      </div>
      <a href="/view-all-post">Your Feed</a>
      <a href="/create-post">Create Another</a>
    </div>

  </body>
</html>
