<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Post</title>
    <link rel="stylesheet" type="text/css" href="/css"/>
  </head>
  <body>
    <div class = "post">
      <div class = "user">
        <p><%= data.user %></p>
      </div>
      <hr>
      <div class="image-container">
        <img src='<%= data.image %>' alt="" id="imgPreview"><br>
      </div>
      <div class="content">
        <div class="post-info">
          <div class="info-text">
            <p><%= data.title %></p>
            <p>Brand: <%= data.brand %></p>
            <p>Category: <%= data.type %></p>
            <p><%= data.gender %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>